<div class="container">
    <p>
        <a class="btn btn-success" href="https://github.com/login/oauth/authorize?scope=user:email&client_id=<%= @client %>">
            Login with Github 
        </a>
    </p>
    <%= @a %>
</div>